<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/styles.css">
<!--Insert here the link to the CDN Value package-->
    <script src="https://unpkg.com/vue@3.0.2"></script>

    <title>Vue Js Demo Application</title>
</head>
<body>
    <!--creat a div tag with "app" ID-->
    <div id="app">
        <p>{{ title }} - {{ author }} - {{ age }}</p>
        <!--events on vue using v-on-->
        <button v-on:click="age++">Get Older</button>
        <button v-on:click="age--">Get Young</button>
        <button @click="title = 'The title has changed.'">Change title</button>
    </div>

    {{ age }}

    <div id="two-way-binding">
        <p>{{ message }}</p>
        <input v-model="message" />
    </div>

    <div id="conditional-rendering">
        <span v-if="seen">Now you see me</span>
    </div>

    <div id="books">
        <div v-if="showBooks">
            <p>{{ btitle }} - {{ bauthor }} - {{ year }}</p>
        </div>

        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>
    </div>

    <div id="list-rendering">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>
<script src="scripts/app.js"></script>
<script src="scripts/twoway.js"></script>
<script src="scripts/conditionalif.js"></script>
<script src="scripts/books.js"></script>
<script src="scripts/listfor.js"></script>
</body>
</html>